div.stack_left {
	float: left;
	margin-right: 10px;
	margin-top: 10px;
}

#dice_roller_output {
 	border: 1px solid black;
 	margin: 0px;
  	height: 200px;
  	width: 300px;
  	margin-bottom: 10px;
  	overflow-y: auto;
}

span.text_h1 {
  color: red;
}

span.text_h2 {
	color: blue;
}

#roll_history_header {
	margin: 10px;
	width: 300px;
	height: 20px;
	top: 50%;
	-ms-transform: translateY(-50%);
	transform: translateY(-50%);
/*	background-color: green;*/
}

#dice_roll_history {
	overflow-y: auto;
	height: 170px;
	margin-left: 2px;
	background-color: #faeebb;
	margin-top: 0px;
	transform: translateY(-10px);
}

.red_round_rectangle {
	font-weight: bold;
	margin: 2px;
	padding: 5px;
	background-color: #9E2727;
	color: white;
	border-radius: 9px;
	outline: none;
}