#diceroller_td {
	height: 1px;
}

.dice_roll_output {
 	border: 1px solid black;
 	margin: 0px;
 	height: 210px;
  	/*height: calc(100% - 10px);*/
  	width: 200px;
  	padding: 5px;
  	overflow-y: auto;
}

span.emphasis_text {
	text-decoration: underline;
}

span.raises_text {
	text-decoration: underline;
}

span.roll_text {
	color: red;
}

#diceroller_roll_history_details {
	margin-top: 10px;
	margin-bottom: 10px;
}

#diceroller_roll_history_container {
	display: flex;
	padding: 5px;
}

#diceroller_roll_history {
	height: 170px;
	width: 375px;
	border: solid black 1px;
	overflow-y: auto;
}

#diceroller_history_clear {
	/*height: 20px;*/
	align-self: start;
}

.red_round_rectangle {
	font-weight: bold;
/*	margin: 2px;*/
	padding: 5px;
	background-color: #9E2727;
	color: white;
	border-radius: 9px;
	outline: none;
}

.chart {
	display: block;
	height: 370px;
	width: 500px;
	margin-left: 10px;
	margin-top: 10px;
}

.chart.hidden {
	display: none;
}

summary {
	cursor: pointer;
	user-select: none;
}