/* Only display dropdown menu when button is active */
.dropdown-toggle + .dropdown-div {
  display: none;
  max-height: 200px;
  overflow-y: auto; /*?*/
}

.dropdown-toggle + .dropdown-div {
  display: none;
  position: absolute;
  margin: 0;
  z-index: 50;
  /*transform: translateY(-16px);*/
  padding: 0;
  scroll-padding: 0;
}

.dropdown-div + .dropdown-menu {
  display: inline;
  margin: 0, 0;
  padding: 0, 0;
  margin-block-start: 0;
}

.dropdown-toggle.active + .dropdown-div {
  display: block;
}

.dropdown-toggle.active + .dropdown-menu {
  display: block;
  /*margin: none;*/
  /*position: absolute;*/
  /*z-index: 50;  Display dropdown list above everything else, so nothing moves */
  transform: translateY(-16px);
}

/* Only display submenu when menu is active */
.dropdown-submenu>.dropdown-menu {
  display: none;
}

.dropdown-submenu.active>.dropdown-menu {
  display: inline;
  position: absolute;
  overflow: scroll; /*?*/
}

/* Position submenu relative to the menu item that spawned it */
.dropdown-submenu {
  position: relative;
}
.dropdown-submenu.active .dropdown-menu {
  top: 0;
  left: 100%;
/*  margin-top: -1px;*/
}

/* Make sure all text in dropdown menu is displayed inline */
ul.dropdown-menu p {
  display: inline;
  margin-left: 5px;
}

/* Highlight options that spawn another sublist */
p.submenu-option {
  font-weight: bold;
}

/* Set the format of all list items contained in a dropdown list */
ul.dropdown-menu>li {
  width: auto;
  margin: none;
  white-space: nowrap;
  padding-left: 0;
}
ul.dropdown-menu>li:hover {
  background-color: grey;
  cursor: pointer;
}

/* Set the background/boundary style for the dropdown list */
ul.dropdown-menu {
  outline: solid black 1px;
  margin-left: 1px;
  padding-left: 0px;
  margin-top: 0px;
  margin-bottom: 0px;
  width: auto;
  list-style-type: none;
  background-color: white;
}

/* Use a div to create an arrow to indicate sublists */
.arrow-right {
  width: 0; 
  height: 0;
  border-top: 5px solid transparent;
  border-bottom: 5px solid transparent;
  display: inline-block;
  border-left: 5px solid black;
  margin-left: 5px;
  margin-right: 5px;
}

.arrow-up {
  width: 0; 
  height: 0;
  border-bottom: 5px solid black;
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  display: inline-block;
  margin-left: 5px;
  margin-right: 5px;
  top: -5px;
}