p.info_display_value {
	display: inline-block;
	background-color: white;
	padding-left: 3px;
	padding-right: 4px;
	border: black solid 1px;
}

p.info_display_label {
	display: inline-block;
	margin-right: 10px;
}

div.info_display_div {
	flex: 1;
}

div.header_div {
	display: none;
}

div.header_div.active {
	display: block;
	margin: 20px;
}

div.header_div>div {
	margin: 5px;
}

div#skill_choice_selects {
	display: inline-flex;
}

div#skill_choice_selects div.dropdown {
	flex: 1;
}



div#char_info_div.active {
	display: flex;
}

#exp_change_input:valid {
	color: black;
}

/*#exp_change_input:valid + #exp_change_btn {
	color: black;
}*/

#exp_change_input:invalid {
	color: red;
}

/*#exp_change_input:invalid + #exp_change_btn {
	color: grey;
}*/