/* Set the background color to off-yellow */
body {
  background-color: #fff6d1;
}

input.optional {
	background-color: #fff6d1;
	border: solid grey 1px;
}

/* Alternate shading of table rows */
tbody > tr:nth-child(even) {
	background-color: rgba(0, 0, 0, 0.1);;
}
tbody > tr:nth-child(odd) {
	background-color: rgba(0, 0, 0, 0.05);;
}

span.error {
	color: red;
	font-weight: bold;
	font-style: italic;
}