span.bolded {
	color: #f00;
}

label.boxed {
	display: inline-block; 
	width: 200px; 
	border: 1px solid black;
	padding: 16px;
	font-size: 16px;
}

div.boxed {
	border: 1px solid black;
	display: inline-block;
}

input.clear {
	padding: 0;
	border: none;
	background: none;
}

.menu {
  width: 120px;
  box-shadow: 0 4px 5px 3px rgba(0, 0, 0, 0.2);
  position: relative;
  display: none;

  .menu-options {
    list-style: none;
    padding: 10px 0;

    .menu-option {
      font-weight: 500;
      font-size: 14px;
      padding: 10px 40px 10px 20px;
      cursor: pointer;

      &:hover {
        background: rgba(0, 0, 0, 0.2);
      }
    }
  }
}

.border_right {
  border-right: 1px solid black;
}

select.add_emphasis_select {
  width: 35px;
}

p.rank_value {
  display: inline;
  margin-right: 2px;
  font-style: bold;
}

body {
  background-color: #fff6d1;
}

/*td {
  border: 1px solid grey;
}*/

/*table {
  border-collapse: separate;
  border-spacing: 15px 2px;
}*/

/*tr:nth-child(even) {
  background: #CCC;
}
tr:nth-child(odd) {
  background: #FFF;
}*/

/*td { 
    padding: 1px;
}*/