.icon-red {
	cursor: pointer;
	transform: translateY(3px);
	/*filter: invert(17%) sepia(38%) saturate(5469%) hue-rotate(350deg) brightness(95%) contrast(81%);*/
}
.icon-red:hover {
	filter: invert(34%) sepia(70%) saturate(4584%) hue-rotate(345deg) brightness(108%) contrast(101%);
}

.up-arrow {
	cursor: pointer;
	width: 14px;
}

.up-arrow:hover {
	filter: brightness(1.5);
}

.down-arrow {
	cursor: pointer;
	width: 14px;
}

.down-arrow:hover {
	filter: brightness(1.5);
}

.up-arrow.disabled, .down-arrow.disabled {
	filter: grayscale(1) brightness(2);
	cursor: default;
}